In [37]:
import pandas as pd

In [38]:
import numpy as np

In [39]:
from math import pi, sqrt, exp

In [40]:
train = pd.read_csv('C:/Users/Mamta Pednekar/Downloads/HW2-TrainData.csv') #Training Set

In [41]:
test = pd.read_csv('C:/Users/Mamta Pednekar/Downloads/HW2-TestData.csv') #Testing Set

In [42]:
train

      x1    x2    x3 type
0  -5.01 -8.12 -3.68   w1
1  -5.43 -3.48 -3.54   w1
2   1.08 -5.52  1.66   w1
3   0.86 -3.78 -4.11   w1
4  -2.67  0.63  7.39   w1
5   4.94  3.29  2.08   w1
6  -2.51  2.09 -2.59   w1
7  -2.25 -2.13 -6.94   w1
8   5.56  2.86 -2.29   w1
9   1.03 -3.33  4.33   w1
10 -0.91 -0.18 -0.05   w2
11  1.30 -2.06 -3.53   w2
12 -7.75 -4.54 -0.95   w2
13 -5.47  0.50  3.92   w2
14  6.14  5.72 -4.85   w2
15  3.60  1.26  4.36   w2
16  5.37 -4.63 -3.65   w2
17  7.18  1.46 -6.66   w2
18 -7.39  1.17  6.30   w2
19 -7.50 -6.32 -0.31   w2
20  5.35  2.26  8.13   w3
21  5.12  3.22 -2.66   w3
22 -1.34 -5.31 -9.87   w3
23  4.48  3.42  5.19   w3
24  7.11  2.39  9.21   w3
25  7.17  4.33 -0.98   w3
26  5.75  3.97  6.65   w3
27  0.77  0.27  2.41   w3
28  0.90 -0.43 -8.71   w3
29  3.52 -0.36  6.43   w3

In [43]:
test

     x1    x2      x3 type
0 -1.80 -3.62   -2.60   w1
1 -0.73 -2.33   -3.45   w1
2 -2.13 -2.07   -3.96   w1
3 -0.88 -2.05 -168.00   w2
4 -0.28 -2.52   -0.33   w2
5  1.21 -1.71   -0.27   w2
6  1.83  2.09    2.36   w3
7  0.60  1.44    1.44   w3
8 -3.07  1.80    1.20   w3

In [44]:
dataset1 = train.query('type=="w1"')

In [45]:
dataset2 = train.query('type=="w2"')

In [46]:
dataset3 = train.query('type=="w3"')

In [47]:
dataset1

     x1    x2    x3 type
0 -5.01 -8.12 -3.68   w1
1 -5.43 -3.48 -3.54   w1
2  1.08 -5.52  1.66   w1
3  0.86 -3.78 -4.11   w1
4 -2.67  0.63  7.39   w1
5  4.94  3.29  2.08   w1
6 -2.51  2.09 -2.59   w1
7 -2.25 -2.13 -6.94   w1
8  5.56  2.86 -2.29   w1
9  1.03 -3.33  4.33   w1

In [48]:
dataset2

      x1    x2    x3 type
10 -0.91 -0.18 -0.05   w2
11  1.30 -2.06 -3.53   w2
12 -7.75 -4.54 -0.95   w2
13 -5.47  0.50  3.92   w2
14  6.14  5.72 -4.85   w2
15  3.60  1.26  4.36   w2
16  5.37 -4.63 -3.65   w2
17  7.18  1.46 -6.66   w2
18 -7.39  1.17  6.30   w2
19 -7.50 -6.32 -0.31   w2

In [49]:
dataset3

      x1    x2    x3 type
20  5.35  2.26  8.13   w3
21  5.12  3.22 -2.66   w3
22 -1.34 -5.31 -9.87   w3
23  4.48  3.42  5.19   w3
24  7.11  2.39  9.21   w3
25  7.17  4.33 -0.98   w3
26  5.75  3.97  6.65   w3
27  0.77  0.27  2.41   w3
28  0.90 -0.43 -8.71   w3
29  3.52 -0.36  6.43   w3

In [50]:
def calculateUNIGAU(x, mean, std, type):                    
    exponent = exp(-((x - mean) ** 2 / (2 * std ** 2)))
    probability = (1 / (sqrt(2 * pi) * std)) * exponent
    if type == "w1" :
        return probability * 0.5
    elif type == "w2":
        return probability * 0.5
    else:
        return probability * 0.0

In [51]:
def calculateUNIGAUMatrix(dataset, calculateMean_list, calculateSTD_list, type):
    columnList = ["x1", "x2", "x3"]
    UNIGAUMatrix = []
    for i in range(len(dataset)):
        for j in range(3):
            mean = calculateMean_list[j]
            stdev = calculateSTD_list[j]
            columnName = columnList[j]
            num = calculateUNIGAU(dataset[columnName][i], mean, stdev, type)
            UNIGAUMatrix.append(num)
    UNIGAUMatrix = np.array(UNIGAUMatrix)
    matrix = np.reshape(UNIGAUMatrix, (len(dataset), 3))
    return matrix

In [52]:
def calculateMean(dataset):             #Mean
    columnList = ["x1", "x2", "x3"]
    calculateMean_list = []
    for i in range(3):
        columnName = columnList[i]
        mean = dataset[columnName].mean()
        calculateMean_list.append(mean)
    return calculateMean_list

In [53]:
def calculateSTD(dataset):              #SD
    columnList = ["x1", "x2", "x3"] 
    calculateSTD_list = []
    for i in range(3):
        columnName = columnList[i]
        std = dataset[columnName].std()
        calculateSTD_list.append(std)
    return calculateSTD_list

In [54]:
def comp_prob(col_w1, col_w2, col_w3, test):
    count = 0
    for j in range(len(col_w1)):
        if col_w1[j] > col_w2[j]:
            if col_w1[j] > col_w3[j]:
                label = "w1"
        elif col_w2[j] > col_w1[j]:
            if col_w2[j] > col_w3[j]:
                label = "w2" 
        else:
            label = "w3"
        if label != test["type"][j]:
            count = count + 1
    calculateError = (count / len(col_w1)) * 100
    return calculateError

In [55]:
def calcA(calculateUNIGAUMatrix_w1, calculateUNIGAUMatrix_w2, calculateUNIGAUMatrix_w3, test):
    col1_w1 = [sub[0] for sub in calculateUNIGAUMatrix_w1]
    col1_w2 = [sub[0] for sub in calculateUNIGAUMatrix_w2]
    col1_w3 = [sub[0] for sub in calculateUNIGAUMatrix_w3]
    calculateError = comp_prob(col1_w1, col1_w2, col1_w3, test)
    print("Part A Results:" + str(calculateError) + "%")

In [56]:
def calcB(calculateUNIGAUMatrix_w1, calculateUNIGAUMatrix_w2, calculateUNIGAUMatrix_w3, test):
    col_w1 = []
    col_w2 = []
    col_w3 = []
    for i in range(len(calculateUNIGAUMatrix_w1)):
        col_w1.append(calculateUNIGAUMatrix_w1[i][0] * calculateUNIGAUMatrix_w1[i][1])
        col_w2.append(calculateUNIGAUMatrix_w2[i][0] * calculateUNIGAUMatrix_w2[i][1])
        col_w3.append(calculateUNIGAUMatrix_w3[i][0] * calculateUNIGAUMatrix_w3[i][1])
    calculateError = comp_prob(col_w1, col_w2, col_w3, test)
    print("Part B Results" + str(calculateError) + "%")

In [57]:
def calcC(calculateUNIGAUMatrix_w1, calculateUNIGAUMatrix_w2, calculateUNIGAUMatrix_w3, test):
    col_w1 = []
    col_w2 = []
    col_w3 = []
    for i in range(len(calculateUNIGAUMatrix_w1)):
        col_w1.append(calculateUNIGAUMatrix_w1[i][0] * calculateUNIGAUMatrix_w1[i][1] * calculateUNIGAUMatrix_w1[i][2])
        col_w2.append(calculateUNIGAUMatrix_w2[i][0] * calculateUNIGAUMatrix_w2[i][1] * calculateUNIGAUMatrix_w2[i][2])
        col_w3.append(calculateUNIGAUMatrix_w3[i][0] * calculateUNIGAUMatrix_w3[i][1] * calculateUNIGAUMatrix_w3[i][2])
    calculateError = comp_prob(col_w1, col_w2, col_w3, test)
    print("Part C Results" + str(calculateError) + "%")

In [58]:
calculateMean_list_w1 = calculateMean(dataset1)
calculateSTD_list_w1 = calculateSTD(dataset1)
calculateMean_list_w2 = calculateMean(dataset2)
calculateSTD_list_w2 = calculateSTD(dataset2)
calculateMean_list_w3 = calculateMean(dataset3)
calculateSTD_list_w3 = calculateSTD(dataset3)

In [59]:
numMatrix_w1 = calculateUNIGAUMatrix(test, calculateMean_list_w1, calculateSTD_list_w1, "w1")

In [60]:
print(Mat_w1)

[[4.93246206e-002 4.62782550e-002 4.12454955e-002]
 [5.24472825e-002 5.15640940e-002 3.74262530e-002]
 [4.76283456e-002 5.19792389e-002 3.46915972e-002]
 [5.22479829e-002 5.20013531e-002 8.49877952e-310]
 [5.25540689e-002 5.11131717e-002 4.46833224e-002]
 [4.78501023e-002 5.21599835e-002 4.46196528e-002]
 [4.39727446e-002 3.15143287e-002 3.50377219e-002]
 [5.06594692e-002 3.68420614e-002 3.96801256e-002]
 [4.13568056e-002 3.39096719e-002 4.07011192e-002]]

In [61]:
Mat_w2 = calculateUNIGAUMatrix(test, calculateMean_list_w2, calculateSTD_list_w2, "w2")

In [62]:
print(Mat_w2)

[[0.03217119 0.04031061 0.04142809]
 [0.03285315 0.05006898 0.03694342]
 [0.03176388 0.05151091 0.03384592]
 [0.03281811 0.05161256 0.        ]
 [0.0328379  0.04888191 0.0464185 ]
 [0.03152569 0.0531241  0.04638193]
 [0.03044961 0.04036308 0.03697839]
 [0.03229091 0.04572515 0.04177479]
 [0.03013926 0.04284246 0.04280059]]

In [63]:
Mat_w3 = calculateUNIGAUMatrix(test, calculateMean_list_w3, calculateSTD_list_w3, "w3")

In [64]:
print(Mat_w3)

[[0. 0. 0.]
 [0. 0. 0.]
 [0. 0. 0.]
 [0. 0. 0.]
 [0. 0. 0.]
 [0. 0. 0.]
 [0. 0. 0.]
 [0. 0. 0.]
 [0. 0. 0.]]

In [65]:
calcA(numMatrix_w1, Mat_w2, Mat_w3, test)
calcB(numMatrix_w1, Mat_w2, Mat_w3, test)
calcC(numMatrix_w1, Mat_w2, Mat_w3, test)

Part A Results:66.66666666666666%
Part B Results66.66666666666666%
Part C Results66.66666666666666%